html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#canvas-container {
  width: 100%;
  height: 100%;
  background:rgb(101, 22, 169) /* your choice of pastel here */;
}

